.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-top: 2em;

    .card{
        background-color: white;
        box-shadow: 0px 8px 10px 0px #cec9c9;
        box-sizing: border-box;

        height: 21.875em;
        width: 100%;

        padding: 2rem;
        
        .list{

            .list-item{
                display: flex;
                justify-content: space-between;

                .item{
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    margin-top: 0.5rem;
            
                    .container{
                        display: inline;
                        
                        .item__checkbox{
                            margin-right: 0.5rem;
                        }
                    }
                    
                }
            }
        }

    }

    .card-img{
        background-color: white;
        box-shadow: 0px 8px 10px 0px #cec9c9;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 21.875em;
        width: 100%;

        padding: 2rem;
    }

    .task__input{
        background-color: #AF7EEB;
        box-shadow: 0px 8px 10px 0px #00000014;
        color: white;
    
        height: 3em;
        width: 80%;
    
        display: block;
    
        position: relative;
        top: -1.2em;
    
        margin: 0 auto;
        padding: 0 1em;
    
        &::placeholder{
            color: white;
            font-size: 1rem;
            opacity: 0.7;
            padding: 2rem 4.3rem;
        }
    }
    
    .task__botao{
        background-color: #5f40db;;
        border-radius: 30px;
        color: white;
        display: block;
        font-size: 1rem;
        margin: 0 auto;
        padding: 1rem;
    
        height: 3rem;
        width: 10rem;
    }
}